.categoria_menu{
    cursor: pointer;
}

/* autocompletado */

.buscar {
    margin-top: 8%;
}
#buscar_producto {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
.buscarElemento {
    padding: 10px;
    cursor: pointer;
    background-color:orange;
    color:whitesmoke;
}
.buscarElemento:hover {
    background-color: goldenrod;
    color:whitesmoke;
    transition:1s;
}
#nav_desp_user{
    text-align:center;
}