body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#title-shop{
    padding-top:6%;
    width:80%;
    padding-left:20%;
    text-align: center;
}

.container-shop-list{
    display:block;
    float:left;
    margin-top:10%;
}

.container-filtros{
    width:90%;
    margin-left:10%;
}

.filter_button, .filter_remove{
    margin-top:2%;
}

.filtros a{
    text-align:center;
}

.container-productos{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top:3%;
}

.producto{
    background-color: gainsboro;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.producto:hover{
    transform: translateY(-5px);
}

.producto img{
    width: 100%;
    height: auto;
    display: block;
}

.inf-producto {
    padding: 15px;
}

.inf-producto h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.inf-producto p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.precio {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.producto img{
    width: 512px;
    height:512px;
    object-fit:cover;
    object-position: center;
    margin:auto;
    padding:auto;
}

.filtros{
    display:block;
    float:left;
}

/* DETAILS */
.container-details {
    display: flex;
    width:80%;
    margin-left:10%;
    align-items: flex-start;
    padding-top: 3%;
    gap:2%;
}

.prodsimg{
    width:512px;
    height:512px;
    overflow: hidden; /* para que no se vean todas las imagenes de golpe */
    padding-right:2%;
}

.productos_img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.owl-carousel .pimg img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.pimg img{
    border-radius:20px;
}

.inf-prod p, .inf-prod b{
    margin-top:1%;
}

.inf-details{
    flex: 1;
}

.precio-details {
    font-size: 30px;
    color: goldenrod;
    font-weight: bolder;
    margin-top: 3%;
}

.desc-details {
    margin-top: 3%;
}

.extras-details{
    display:flex;
    margin-top:3%;
    padding-top:3%;
    width:100%;
    border-top: 3px solid orange;
}

.icon-container-details {
    width: 50px;
    height: 50px;
    display: inline-block;
    display: flex;
    background-color: rgb(42,42,42);
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Bordes redondeados para dar efecto de suavidad */
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-right:1%;
}

.icon-container-details i {
    font-size: 24px;
    background-color: rgb(42,42,42); /* Fondo del icono */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para suavizar */
}