body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#title-shop{
    padding-top:6%;
    width:80%;
    padding-left:20%;
    text-align: center;
}

.container-shop-list{
    display:flex;
    margin-top:5%;
    justify-content: space-between;
}

/* FILTROS */

.container-filtros{
    width:15%;
    margin-left:0.5%;
    margin-top:4%;
}

.boton_filtrar, .botn_remover, .boton_mapa, .sotButton{
    margin-top:2%;
}

.filtros a{
    text-align:center;
}

.boton_filtrar:hover, .boton_remover:hover, .boton_mapa:hover, .sotButton:hover{
    background-color: orange;
    border-color: goldenrod;
    box-shadow: 0 0 8px orange;
    color:#fff;
    transition: 1s;
}

.boton_filtrar, .boton_remover, .boton_mapa, .sotButton{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.div-filtros select, .div-filtros button {
    margin: 10px 0;
}

.filtro_tipo, .filtro_categoria, .filtro_precio, .f_precio, .f_tipo, .f_categoria, .f_equipo, .filtro_equipo {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filtro_tipo:focus, .filtro_categoria:focus, .filtro_precio:focus, .filtro_equipo:focus {
    border-color: goldenrod;
    box-shadow: 0 0 8px orange;
    outline: none;
}

.filtro_precio, .filtro_equipo{
    width:8%;
}

.f_precio:hover, .f_tipo:hover, .f_categoria:hover, .f_equipo:hover{
    border-color: goldenrod;
    box-shadow: 0 0 8px orange;
    outline: none;
    transition: 1s;
}

#nofiltros{
    display:block;
    float:left;
    margin-top:5%;
}

#nofiltros h1{
    text-align:center;
}

#texto-nofiltros{
    displaY:block;
    float:left;
    margin-top:3%;
}

.options-tipo, .options-categoria, .radio-precio, .checkbox-equipo{
    display:none;
}

.desplegable-tipo, .desplegable-categoria, .desplegable-precio, .desplegable-equipo{
    cursor:pointer;
}

/* LIST */

.container-productos{
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    margin-left:1%;
    display: grid;
    float:left;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-top:3%;
}

.producto{
    background-color: gainsboro;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.producto:hover{
    transform: translateY(-5px);
    border-color: goldenrod;
    box-shadow: 0 0 8px orange;
    outline: none;
    transition: 1s;
}

.producto img{
    width: 100%;
    height: auto;
    display: block;
}

.inf-producto {
    padding: 15px;
}

.inf-producto h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.inf-producto p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.precio {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.producto img{
    width: 512px;
    height:512px;
    object-fit:cover;
    object-position: center;
    margin:auto;
    padding:auto;
}

.filtros{
    display:block;
    float:left;
}

/* LEAFLET */

#map{
    height:500px;
    width:80%;
    margin-left:10%;
    padding-left:50px;
    margin-right:10;
    margin-top:-30%;
    border:2px solid goldenrod;
}

/* DETAILS */
.container-details {
    display: flex;
    width:80%;
    margin-left:10%;
    align-items: flex-start;
    padding-top: 3%;
    gap:2%;
}

.prodsimg{
    width:512px;
    height:512px;
    overflow: hidden; /* para que no se vean todas las imagenes de golpe */
    padding-right:2%;
}

.productos_img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.owl-carousel .pimg img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.pimg img{
    border-radius:20px;
}

.inf-prod p, .inf-prod b{
    margin-top:1%;
}

.inf-details{
    flex: 1;
}

.precio-details {
    font-size: 30px;
    color: goldenrod;
    font-weight: bolder;
    margin-top: 3%;
}

.desc-details {
    margin-top: 3%;
}

.extras-details{
    display:flex;
    margin-top:3%;
    padding-top:3%;
    width:100%;
    border-top: 3px solid orange;
}

.icon-container-details {
    width: 50px;
    height: 50px;
    display: inline-block;
    display: flex;
    background-color: rgb(42,42,42);
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Bordes redondeados para dar efecto de suavidad */
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-right:1%;
}

.icon-container-details i {
    font-size: 24px;
    background-color: rgb(42,42,42); /* Fondo del icono */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para suavizar */
}