.div_categoria, .div_marca, .carousel__elements {
    display: inline-block;
    width: 20%;
}

.div_marca{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.div_tipo, .div_producto{
    width:80%;
    margin-left:20%;
}

.div_categoria, .div_tipo, .div_producto, .div_accesorio{
    margin-top:4%;
}

.container {
    width: 100%;
}

.rod-pad-row {
    margin-left: 20%;
    /* background-color: red; */
}

.div_tipo img, .div_categoria img, .div_marca img, .carousel__elements img{
    width: 100%;
}

#carousel-principal{
    height:230px;
}

#containerCategoria {
    /* background-color: blueviolet; */
    margin-top: 2%;
}

.portfolio-items2-col-1, .home-demo {
    margin-top: 8%;
    /* background-color: skyblue; */
}

.portfolio-items-col-3, .portfolio-items2-col-3 {
    margin-top: 2%;
    border-top: 3px solid slategrey;
}

.portfolio-image2 {
    margin-top: 10%;
}

#title-carousel-home, #title-carousel-tipo, #title-carousel-producto, #title-carousel-accesorio{
    margin-left: 15%;
}

.div_producto img, .div_accesorio img{
    width:512px;
    height:512px;
    object-fit:contain;
}

#title-categoria{
    margin-top:3%;
}