<body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="view/images/web-logo/logo-letrero.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.php" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="index.php?module=ctrl_shop.php&op=get_all">Productos</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Paginas</a>
                                <ul>
                                    <li><a href="about.html">Sobre nosotros</a></li>
                                    <li><a href="index.php?module=ctrl_shop&op=list">Productos</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Categorías</a>
                                <ul>
                                    <li><a href="#">Hombre</a></li>
                                    <li><a href="#">Mujer</a></li>
                                    <li><a href="#">Niños</a></li>
                                    <li><a href="#">Bebes</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;"><img src="view/images/top-page/user.svg" id="user-icon">Cuenta</a>
                                <ul>
                                    <li><a href="#">Iniciar sesión</a></li>
                                    <li><a href="#">Registrarse</a></li>
                                </ul>
                            </li>
                            <!-- <li class="scroll-to-section"><a href="#explore">Iniciar sesión / Registrarse</a></li> -->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->