<!-- LIST -->
<div class="container-productos">
    <!-- <div class="producto">
        <img src="view/images/tipos/chaquetas.png" alt="Chaqueta Azul">
        <div class="inf-producto">
            <h3>Chaqueta Acolchada - Hombre</h3>
            <p class="precio">139,99 €</p>
        </div>
    </div> -->
</div>

<!-- DETAILS -->
<div class="container-details">
    <div class="owl-carousel owl-theme productos_img" id="container-date-img"> </div>
    <div class="inf-details" id="container-date-img"> </div>
</div>